---
import Hanxuan from '../../assets/images/team/hanxuan.jpg';
import Hanyu from '../../assets/images/team/hanyu.jpg';
import Hugo from '../../assets/images/team/hugo.jpg';
import Hussein from '../../assets/images/team/hussein.jpg';
import Headline from '../blog/Headline.astro';
import WidgetWrapper from '../ui/WidgetWrapper.astro';
import AboutUsPerson from './AboutUsPerson.astro';

const { bg = await Astro.slots.render('bg') } = Astro.props;

const title = 'Vilka är vi?';
const subtitle =
  'We believe in the magic of turning dreams into stunning realities. Founded by passionate developers with a shared vision, we set out to simplify the website creation process. Our templates bring together the innovation of Astro 3.0 and the versatility of Tailwind CSS, enabling you to express your unique brand identity like never before.';
const tagline = 'Tagline';
const isDark = false;
---

<WidgetWrapper id="about-us" isDark={isDark} containerClass={`max-w-7xl mx-auto `} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />
  <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-4">
    <AboutUsPerson
      name="Hugo Persson"
      linkedIn="https://www.linkedin.com/in/hugo-persson-3ab782211/"
      github="https://github.com/Hugo-Persson"
      image={Hugo}
    />
    <AboutUsPerson
      name="Hussein Taher"
      linkedIn="https://www.linkedin.com/in/husenap/"
      github="https://github.com/Husenap"
      image={Hussein}
    />
    <AboutUsPerson
      name="Hanyu Lin"
      linkedIn="https://www.linkedin.com/in/hanyu-lin/"
      github="https://github.com/Hanyu-Lin"
      image={Hanyu}
    />
    <AboutUsPerson
      name="Hanxuan Lin"
      linkedIn="https://www.linkedin.com/in/hanxuan-lin/"
      github="https://github.com/hanxuan-lin"
      image={Hanxuan}
    />
  </div>
</WidgetWrapper>
